{% extends 'sending/base.html' %}
{% load custom_filters %}
{% block content %}

    <div class="card">
        <div class="card-header">{{ object.name }}</div>
        <div class="card-body">
            <p> Начало отправки {{ object.datetime }}</p>
            <p> Периодичность: {{ object.period|get_period_display }}</p>
            <p> Статус: {{ object.get_status_display }}</p>
            <p> Клиенты: {% for client in object.clients.all %}{{ client.email }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p> Сообщение: {{ object.message }}</p>
            <p> Количество писем: {{ object.number_of_parcels }}</p>
            <p> Создано пользователем: {{ object.owner }}</p>

            <h3>Подробности попыток рассылки:</h3>
            <ul>
                {% for attempt in object.attempts.all %}
                    <li>
                        <strong>Дата и время:</strong> {{ attempt.datetime }}<br>
                        <strong>Статус:</strong> {{ attempt.status|yesno:"Успешно,Неудачно" }}<br>
                        <strong>Ответ почтового сервера:</strong> {{ attempt.response }}<br>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'sending:sending_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'sending:sending_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'sending:sending_list' %}" class="btn btn-primary">Назад</a>
        </div>
    </div>

{% endblock %}