{% extends 'sending/base.html' %}
{% load appointment_filter %}
{% block content %}

    <div class="card">
        <div class="card-header"> Прием врача: {{ object.name }}</div>
        <div class="card-body">
            <p> Клиент: {{ object.client }}</p>
            <p> Услуга: {{ object.service }}</p>
            <p> Дата: {{ object.date }}</p>
            <p> Время: {{ object.time }}</p>
            <p> Статус: {{ object.get_status_display }}</p>
            <p> Комментарий: {{ object.comment }}</p>
            <p> Результат: {{ object.result }}</p>
        </div>
        <div class="card-footer">
            {% if user.is_superuser or user|has_manager_perms %}
            <a href="{% url 'appointment:appointment_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'appointment:appointment_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'appointment:appointment_confirm' object.pk %}" class="btn btn-success" {% if object|is_confirmed %}disabled{% endif %}>Подтвердить</a>
            {% endif %}
            {% if object.client %}
            <a href="{% url 'appointment:appointment_cancel' object.pk %}" class="btn btn-warning">Отменить</a>
            {% endif %}
            <a href="{% url 'appointment:appointment_list' %}" class="btn btn-outline-dark">Назад</a>
        </div>
    </div>

{% endblock %}
