{% extends 'sending/base.html' %}
{% load media_filter %}
{% block content %}

    {% block action_buttons %}
    {% endblock %}

    <div class="card">
        <div class="card-header">{{ object.title }}</div>
        <div class="card-body">
            <img src="{{ object.preview|media_filter }}" alt="Preview">
            <p> {{ object.content }}</p>
            <p> Добавлено: {{ object.created_at }}</p>
            <p> Автор: {{ object.owner }}</p>
            <p> Количество просмотров: {{ object.views }}</p>
        </div>
        <div class="card-footer">
            {% if user == object.owner or user.is_superuser %}
                <a href="{% url 'blog:blog_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'blog:blog_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            {% endif %}
            <a href="{% if request.GET.from == 'home' %}{% url 'sending:home' %}{% else %}{% url 'blog:blog_list' %}{% endif %}" class="btn btn-outline-dark">Назад</a>
        </div>
    </div>

{% endblock %}