{% extends 'sending/base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">Наименование клиента: {{ object.name }}</div>
        <div class="card-body">
            <p> Email: {{ object.email }}</p>
            <p> Комментарий: {{ object.comment }}</p>
            <p> Создан пользователем: {{ object.owner }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'clients:client_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'clients:client_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'clients:client_list' %}" class="btn btn-outline-dark">Назад</a>
        </div>
    </div>

{% endblock %}