{% extends 'sending/base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">Данные врача: {{ object.first_name }} {{ object.last_name }}</div>
        <div class="card-body">
            <p> Специальность: {{ object.speciality }}</p>
            <p> Опыт работы: {{ object.bio }}</p>
            {% if object.photo %}
                <img src="{{ object.photo.url }}" alt="Фото врача" class="img-fluid">
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'doctors:doctor_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'doctors:doctor_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'doctors:doctor_list' %}" class="btn btn-primary">Назад</a>
        </div>
    </div>
{% endblock %}