{% extends "sending/base.html" %}
{% load doctor_filters %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'doctors:doctor_create' %}" class="btn btn-lg btn-primary mx-2"
               style="font-size: 1.2em; padding: 10px 20px;">
                Создать нового врача
            </a>
        </div>
    {% endif %}

    <div class="container">
         <div class="row">
    <div class="doctor-list">
        {% if user.is_superuser or user|has_manager_perms %}
            {% for object in object_list %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.first_name }} {{ object.last_name }}</h4>
                        {% if object.photo %}
                            <img src="{{ object.photo.url }}" alt="Фото врача" class="img-fluid">
                        {% endif %}
                        <a href="{% url 'doctors:doctor_view' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for object in object_list %}
                {% if object.owner == user %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.first_name }} {{ object.last_name }}</h4>
                            {% if object.photo %}
                                <img src="{{ object.photo.url }}" alt="Фото врача" class="img-fluid">
                            {% endif %}
                            <a href="{% url 'doctors:doctor_view' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
