{% extends "sending/base.html" %}
{% load doctor_filters %}
{% block content %}
    {% if user.is_superuser or user|has_manager_perms %}
        {% for object in object_list %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.first_name }}</h4>
                    <a href="{% url 'doctors:doctor_view' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for object in object_list %}
            {% if object.owner == user %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.first_name }}</h4>
                        <a href="{% url 'doctors:doctor_view' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}